
.mySwiper {
    width: 650px;
    height: 330px;
  
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  
  }
  
  .swiper-slide Image {
    display: block;
    /* width: 100%; */
  }
  
  .photo{
    border-top-right-radius: 70px 70px;
    border-bottom-left-radius: 70px 70px;

  }


 