
@media  only screen and (max-width: 440px) {
    .titr{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .content{
        text-align: center;
        padding-bottom: 15px;
    }
    .head{
        height: 50vh;
    }
    .conte{
        align-items: center;
    }
   
}
@media  only screen and (max-width: 500px) {
    .content{
        text-align: center;
        padding-bottom: 15px;
    }
    .conte{
        padding-left: 130px;
        
        }
}
@media  only screen and (max-width: 760px) {
    .content{
        /* text-align: center; */
        padding-bottom: 15px;
       
    }
    .conte{
       
            padding-right: 110px;
            
   
    }
}
@media  only screen and (max-width: 860px) {
    .content{
        text-align: center;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .head{
        height: 52vh;
    }
    .conte{
        display: flex;
        justify-content: center;
        align-items: center;
    }
       
}
@media  only screen and (min-width: 440px) {
  
        .vision{
            /* margin-left: 60px; */
            /* display: flex;
            justify-content: center;
            align-items: center; */
            
           
        }
       
       
}
/* @media  only screen and (min-width: 500px) {
  
        .vision{
            margin-left: 105px;
        }
       
} */


.mySwiper {
    width: 650px;
    height: 380px;
    padding: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  
  }
  
  .swiper-slide Image {
    display: block;
    width: 100%;
  }
  
  .photo{
    border-top-right-radius: 70px 70px;
    border-bottom-left-radius: 70px 70px;

  }
  