@media only screen and (max-width:960px){
  .container{
  display: none;
  }
  .icon{
    display: none;
  }
  .first-section{
    height: 30vh;
  }
  .formulaire{

  }
}
@media only screen and (max-width:420px){
  .formulaire{

    
  }
}

.title{
  /* -webkit-text-stroke: 1px #fff;
  color: #B8D941; */
  /* text-shadow: 1px 1px 1px #fff, 1px 1px 1px #fff, 1px 1px 1px #fff, 1px 1px 1px #fff; */
  /* text-shadow: 5px 1px 6px rgba(255, 255, 255, 0.58); */
    

}
/* .problem{
  display: inline;
  background: #fff;
  color: #B8D941;
  /* -webkit-text-stroke: 1px #fff; */

